
-- install via npm (or yarn)
node
react

-- vscode extension
eslint
babel javascript




***instructions***

-- start up server:

from terminal, change directory into folder containing these files
npm start

-- add to github:

git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ceruleanox/ttnewyork.git
git push -u origin main


*** notes ***

- please leave persona image names the same
- persona images are resized to 100x100