node
react

vscode extension
eslint
babel javascript


instructions

-- start up server:

change directory into game folder
npm start

-- add to github:

git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ceruleanox/ttnewyork.git
git push -u origin main