.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.persona {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.player-persona {
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 20px;
}

.persona:hover {
  transform:scale(1.2);
}

.players {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player h3 {
  font-family: 'Ubuntu', sans-serif; 
  text-align: center;
}

.player p {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}
.player-score {
  font-size: 1em;
}

div {
    text-align: center;
}

table.personaLabel {
  table-layout: auto;
  width: 50%;
  font-size: 24px;
  text-align: center;
  width:70%; 
  margin-left:12%; 
  margin-right:12%;
}

.start-button, .button {
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height:100px;
  width:300px;
  background-color: black;
  color: white;
  padding: 20px;
  border: 8px solid black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  line-height:1em;
  text-transform:uppercase;
  cursor:pointer;
}

.start-button:hover, .button:hover {
  opacity:0.8;
}
.game-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.game-board {
  width: 60vw;
  height: 60vw;
  max-width: 70vh;
  max-height: 70vh;
  display: grid;
  margin-top: -20vh;
}

.game-square {
  text-align: center;
  color: white;
  background: black;
  outline: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square img {
  width: 80%;
  height: auto;
}

.board-center-inside-square {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  font-size: 2vh;
}

.player-avatar .persona {
  width: 60px;
  height: auto;
}

.button {
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height:100px;
  width:300px;
  background-color: blue;
  color: white;
  padding: 20px;
  border: 8px solid black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  line-height:1em;
  text-transform:uppercase;
  cursor:pointer;
}

p.rolled-die {
  font-size: 10vh;
}

.card-deck {
  width: 210px;
  height: 270px;
  background-color: white;
  border: 1px solid white;
  margin-top: 100px;
  margin-left: 50px;
}