body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif; 
}

#root {
  width: 100%;
  height: 100%;
}